body {
    font-family: "Open Sans", sans-serif;
    background-color: whitesmoke
    font-size: 16px;
    line-height: 1;
  }
  
  .container {
    max-width: 1024px;
  }
  
  textarea{
    background: transparent;
    border: none;
    resize: none;
    color: #000000;
    border-left: 1px solid black;
    padding: 10px;
    letter-spacing: 1;
  }
  
  .jumbotron {
    text-align: center;
    background-color: transparent;
    color: black;
    border-radius: 0;
    border-bottom: 10px solid black;
  }
  
  #clearFieldsBtn {
    margin-top: 10px;
  }
  
  .description {
    white-space: pre-wrap;
    font-weight: 600;
  }
  
  .time-block {
    text-align: center;
  }
  
  .row {
    white-space: pre-wrap;
    height: 80px;
    border-top: 1px solid white;
  }
  
  .hour {
    background-color: white;
    color: rgb(82, 82, 82);
    padding-top: 27px;
    padding-left: 10px;
    font-size: 25px;
    font-weight: 500;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
  }
  
  .past {
    background-color: #d9d9d9;
    border-radius: 15px;
    color: white;
  }
  
  .present {
    background-color: #ff5c33;
    border-radius: 15px;
  }
  
  .future {
    background-color: #99ff99;
    border-radius: 15px;
  }
  
  .saveBtn {
    border-left: 1px solid rgb(82, 82, 82);
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: #0984e3;
    color: white;
  }
  
  .saveBtn i:hover {
    font-size: 30px;
    transition: all 0.2s ease-in-out;
  }
  
  .white-text {
    color: white;
  }